/* src/components/ImageSlider.css */

.slider-container {
    position: relative;
    max-width: 600px;
    width: 90%;
    height: 80%; /* 뷰포트 높이의 40% */
    padding:0;
    margin:0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율을 유지하면서 컨테이너를 채우기 */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slider-image.active {
    opacity: 1;
}
