<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if file_list %}
    <ul>
    {% for file in file_list %}
        <li><a href="/pybo/{{ file.id }}/">{{ file.file }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>파일이 없습니다.</p>
{% endif %}
<form action="/CurtainCallApp/POSTMAN/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<input type="file" name="file" id="file" accept="*/*" value="image">
<input type="submit" value="업로드">
</form>
</body>
</html>