.appLink {
  display: inline-flex;
  alignItems: center;
  color: inherit;
  textDecoration: none;
  padding: 0px;
  marginRight: 5%;
  marginLeft: 5%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.appIconButton {
  marginLeft: auto;
}

.navLinks {
  display: flex;
  justifyContent: center;
  padding: 8px;
}

@media (max-width: 768px) {
  .mb-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

/*이 아래는 효제코드*/
.bg-body-tertiary {
  background-color: #fff2e6;

}

.App {
  text-align: center;
  background-color: #F5F5F5;
  font-family: 'RIDIBatang'; /* 기본 폰트 설정 */
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'Jeju Myeongjo';
  src: url('./assets/fonts/JejuMyeongjo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


.App-header {
  background-color: #fff2e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}